
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Sosyal Medya Girişi</h2>

<form method="post">
    <label>Sosyal Medya Başlığı</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />
    <label>Sosyal Medya URL</label>
    <input type="text" class="table table-bordered" name="SocialMediaUrl" />
    <br />
    <label>Sosyal Medya Icon</label>
    <textarea rows="4" class="table table-bordered" name="Icon"></textarea>
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>
