


<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(https://i.hizliresim.com/hajtsgn.jpg); ">
        <div class="user-logo">
            <div class="img" style="background-image: url(https://i.hizliresim.com/nlpngyk.jpg); "></div>
            <h3>Serhat Demircioğlu</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">

        <li>
            <a href="/Default/Index"><i class="bi bi-box-arrow-right mr-3"></i> Siteye Git </a>
        </li>

        <li class="active">
            <a href="/Dashboard/Index"><span class="bi bi-clipboard2-data-fill mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="/Statistic/Index"><i class="bi bi-bar-chart-fill mr-3"></i> Statistic </a>
        </li>
        <li>
            <a href="/Service/Index"><i class="bi bi-gear mr-3"></i>Servisler</a>
        </li>
        <li>
            <a href="/Category/Index"><i class="bi bi-tags mr-3"></i>Categories</a>
        </li>
        <li>
            <a href="/Project/Index"><i class="bi bi-cast mr-3"></i>Project</a>
        </li>
        <li>
            <a href="/About/Index"><i class="bi bi-info-square mr-3"></i>About</a>
        </li>
        <li>
            <a href="/Contact/Index"><i class="bi bi-person-lines-fill mr-3"></i>Contact</a>
        </li>
        <li>
            <a href="/Future/Index"><i class="bi bi-columns-gap mr-3"></i>Future</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><i class="bi bi-stars mr-3"></i>Social Media</a>
        </li>
        <li>
            <a href="/References/Index"><i class="bi bi-people mr-3"></i>Referances</a>
        </li>
        
        <li>
            @*<a href="#"><i class="bi bi-x-lg mr-3"></i>Exit</a>*@
        </li>
    </ul>


</nav>



