
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Hizmet Girişi</h2>

<form method="post">
    <br />
    <label>Category Adı</label>
    <input type="text" class="table table-bordered" name="CategoryName" />
    <br />
  
    <button class="btn btn-info">Kategori Kaydet</button>
</form>